{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h1>{{ t.title }}</h1>
        
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        
        <div class="card mt-3">
            <div class="card-body">
                <form action="{{ action }}" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">{{ t.username }}</label>
                        <input type="text" class="form-control" id="username" name="username" 
                               value="{% if user %}{{ user.username }}{% endif %}" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="password" class="form-label">{{ t.password }}</label>
                        <input type="password" class="form-control" id="password" name="password"
                               {% if not user %}required{% endif %} 
                               placeholder="{% if user %}{{ t.password_placeholder }}{% else %}{{ t.new_password_placeholder }}{% endif %}">
                    </div>
                    
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="is_admin" name="is_admin"
                               {% if user and user.is_admin or not user %}checked{% endif %}>
                        <label class="form-check-label" for="is_admin">{{ t.admin }}</label>
                        <div class="form-text">{{ t.admin_desc }}</div>
                    </div>
                    
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">{{ t.save }}</button>
                        <a href="/users" class="btn btn-secondary ms-2">{{ t.cancel }}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
