{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>BIND9 Service Status</h1>
        
        <div class="card mt-3">
            <div class="card-body">
                <pre>{{ status }}</pre>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <h1>Service Control</h1>
        
        <div class="card mt-3">
            <div class="card-body">
                <form action="/service/control" method="post">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success" name="action" value="start">Start</button>
                        <button type="submit" class="btn btn-danger" name="action" value="stop">Stop</button>
                        <button type="submit" class="btn btn-warning" name="action" value="restart">Restart</button>
                        <button type="submit" class="btn btn-primary" name="action" value="reload">Reload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
